/* Header component */
.header {
    background-color: #0a0b0d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .header .logo {
    font-size: 1.5rem;
  }
  
  .header .wallet {
    display: flex;
    align-items: center;
  }
  
  .header .wallet .balance {
    margin-right: 0.5rem;
  }
  
  .header .wallet .wallet-address {
    font-size: 0.75rem;
    color: #ccc;
  }
  
  /* Ekoswap component */
  .ekoswap {
    height: 100vh;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a0b0d;
  }
  
  .ekoswap .swap-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .ekoswap .swap-container .swap-input {
    width: 15rem;
    height: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #191b1f;
    color: #fff;
  }
  
  .ekoswap .swap-container .swap-select-container {
    position: relative;
  }
  
  .ekoswap .swap-container .swap-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    height: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #191b1f;
    color: #fff;
    cursor: pointer;
  }
  
  .ekoswap .swap-container .swap-select-arrow {
    font-size: 1rem;
    color: #fff;
  }
  
  .ekoswap .swap-container .swap-select-options {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1;
  }
  
  .ekoswap .swap-container .swap-select-options .swap-option {
    padding: 0.5rem;
    background-color: #191b1f;
    color: #fff;
    cursor: pointer;
  }
  
  .ekoswap .swap-container .swap-select-options .swap-option:hover {
    background-color: #1f2127;
  }
  
  .ekoswap .swap-container .swap-arrow {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .ekoswap .swap-address-container {
    margin: 1rem 0;
  }
  
  .ekoswap .swap-address-container .swap-input {
    width: 30rem;
    height: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #191b1f;
    color: #fff;
  }
  
  .ekoswap .swap-info-container {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .ekoswap .swap-info {
    margin-bottom: 0.5rem;
    width:  10rem;
  }

  .ekoswap .swap-info-container .swap-info {
    width: 48%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191b1f;
    border-radius: 0.5rem;
    padding: 0.5rem;
    }
    
    .ekoswap .swap-info .swap-info-title {
    font-size: 0.8rem;
    color: #ccc;
    }
    
    .ekoswap .swap-info .swap-info-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    }
    
    .ekoswap .swap-button {
    background-color: #e57300;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    }
    
    .ekoswap .swap-button:hover {
    background-color: #ff9800;
    }
    
    @media only screen and (max-width: 768px) {
    .ekoswap .swap-container {
    flex-direction: column;
    align-items: center;
    }
    
    .ekoswap .swap-container .swap-select-container {
    margin-top: 1rem;
    }
    
    .ekoswap .swap-info-container .swap-info {
    width: 100%;
    }
    }
  